<header
  class="fixed justify-between top-0 left-0 h-20 flex items-center dark:bg-black-2 bg-white border-b-2 w-full border-b-grey-2 dark:border-b-black-3 max-sm:px-3 px-10 transition-all duration-300"
>
  <div class="flex max-sm:gap-5 gap-10 h-full">
    <div class="flex h-full items-center">
      <img
        class="max-sm:hidden"
        [src]="isDarkMode ? '/assets/logo-light.svg' : '/assets/logo-dark.svg'"
        alt="Logo"
      />
      <img class="sm:hidden" src="/assets/logo-mobile.svg" alt="Logo" />
    </div>
    <div class="h-full w-[2px] bg-grey-2 dark:bg-black-3 max-sm:hidden"></div>
    <div class="h-full flex items-center gap-2 max-sm:hidden">
      <h1
        class="text-black-1 dark:text-white text-2xl max-md:text-lg font-bold"
      >
        {{ selectedBoard.name }}
      </h1>
    </div>
    <button
      class="h-full flex items-center gap-2 sm:hidden"
      (click)="toggleSidebar()"
    >
      <h1
        class="text-black-1 dark:text-white text-2xl max-md:text-lg font-bold"
      >
        {{ selectedBoard.name }}
      </h1>
      <img
        class="sm:hidden h-3"
        src="/assets/icon-chevron-down.svg"
        alt="Logo"
      />
    </button>
  </div>
  <div class="flex items-center gap-8">
    <app-button
      icon="/assets/icon-add-task-mobile.svg"
      text="Add New Task"
      customStyle="bg-purple-1 hover:bg-purple-1 transilation-all duration-300 rounded-full text-white py-3 px-5 transilation-all duration-300"
      customTextStyle="max-md:hidden transilation-all duration-300"
      (click)="createNewTask()"
    />
    <app-button
      icon="/assets/icon-vertical-ellipsis.svg"
      customStyle=""
      (click)="openActions()"
    />
  </div>
</header>
<div
  class="w-screen h-screen bg-black/40 backdrop-blur-[1.5px] fixed z-20 top-0 left-0 transition-opacity duration-300"
  [ngClass]="
    isActionOpened
      ? 'opacity-100 pointer-events-auto'
      : 'opacity-0 pointer-events-none'
  "
  (click)="openActions()"
>
  <ul
    [ngClass]="
      isActionOpened
        ? 'duration-100 translate-x-0 opacity-100'
        : 'opacity-0 duration-100 translate-x-64'
    "
    class="right-10 1top-16 w-36 py-2 flex flex-col gap-2 absolute z-20 bg-white dark:bg-black-3 mt-20 rounded-xl shadow-lg duration-300 text-black-1 dark:text-white"
  >
    <li
      class="text-sm font-semibold px-4 pr-6 py-3 hover:bg-grey-1 hover:dark:bg-black-2 duration-100 cursor-pointer rounded-md"
      (click)="openEditTask()"
    >
      Edit board
    </li>
    <li
      class="text-sm text-red font-semibold px-4 pr-6 py-3 hover:bg-grey-1 hover:dark:bg-black-2 duration-100 cursor-pointer rounded-md"
      (click)="openDeleteTask()"
    >
      Delete board
    </li>
  </ul>
</div>
