<header
  class="fixed justify-between top-0 left-0 h-20 flex items-center dark:bg-black-2 bg-white border-b-2 w-full border-b-grey-2 dark:border-b-black-3 px-10 transition-all duration-300"
>
  <div class="flex gap-10 h-full">
    <div class="flex h-full items-center">
      <img
        [src]="isDarkMode ? '/assets/logo-light.svg' : '/assets/logo-dark.svg'"
        alt="Logo"
      />
    </div>
    <div class="h-full w-[2px] bg-grey-2 dark:bg-black-3"></div>
    <div class="h-full flex items-center">
      <h1 class="text-black-1 dark:text-white text-2xl font-bold">
        Platform Launch
      </h1>
    </div>
  </div>
  <div class="flex items-center gap-8">
    <app-button
      icon="/assets/icon-add-task-mobile.svg"
      text="Add New Task"
      customStyle="bg-purple-1 hover:bg-purple-1 transilation-all duration-300 rounded-full text-white py-3 px-5"
      customTextStyle="max-md:hidden"
    />
    <app-button icon="/assets/icon-vertical-ellipsis.svg" customStyle="" />
  </div>
</header>
