<form
  [formGroup]="boardForm"
  (ngSubmit)="onSubmit()"
  class="w-full flex flex-col gap-4 py-2"
>
  <h2 class="font-bold text-xl text-black-1 dark:text-white">Add New Board</h2>

  <div class="mt-4 flex flex-col gap-3 group">
    <label for="board-name" class="font-semibold text-grey-1 dark:text-white"
      >Name</label
    >
    <input
      type="text"
      id="board-name"
      formControlName="name"
      placeholder="e.g. Web Design"
      class="w-full px-4 p-3 rounded-lg border dark:bg-black-3 border-grey-1 font-medium dark:text-white outline-none"
    />
    <div
      *ngIf="boardForm.get('name')?.invalid && boardForm.get('name')?.touched"
      class="text-red-2 -mt-1 text-xs"
    >
      name is required and must be at least 2 characters.
    </div>
  </div>

  <div class="mt-4 flex flex-col gap-3">
    <label class="font-semibold text-grey-1 dark:text-white">Columns</label>

    <div formArrayName="columns" class="flex flex-col gap-3">
      <div
        *ngFor="let column of columns.controls; let i = index"
        [formGroupName]="i"
        class="flex gap-2 items-center dark:border-lightGray/30 p-1 rounded-lg group hover:border-mediumGray"
      >
        <input
          type="text"
          formControlName="name"
          placeholder="e.g. Web Design"
          class="w-full px-4 p-3 border border-grey-1 dark:bg-black-3 rounded-lg font-medium dark:text-white outline-none"
        />
        <span class="p-3 cursor-pointer" (click)="deleteColumn(i)">
          <img src="/assets/icon-cross.svg" alt="" />
        </span>
      </div>
    </div>

    <app-button
      (click)="addColumn()"
      text="+ Add New Column"
      customStyle="bg-grey-2 dark:bg-white font-medium inline-block rounded-full text-purple-1 py-3 px-5 w-full"
      customTextStyle="w-full text-center"
    />
  </div>

  <app-button
    text="Create New Board"
    customStyle="bg-purple-1 font-medium text-white rounded-full font-medium inline-block rounded-full py-3 px-5 w-full mt-2"
    customTextStyle="w-full text-center"
  />
</form>
