<div
  class="w-full flex flex-col gap-4 p-2"
  [formGroup]="taskForm"
  *ngIf="selectedTask$ | async as selectedTask"
>
  <div class="w-full flex gap-1 items-center">
    <h2 class="w-full font-bold text-xl text-black-1 dark:text-white">
      {{ selectedTask.title }}
    </h2>

    <app-button icon="/assets/icon-vertical-ellipsis.svg" customStyle="" />
  </div>
  <p class="text-mediumGray dark:text-grey-1">
    {{ selectedTask.description }}
  </p>

  <div class="w-full flex flex-col gap-4 mt-4">
    <h2 class="font-medium text-grey-1 dark:text-white">
      Subtasks ({{ (selectedTask.subtasks | filterSubtask : "true").length }} of
      {{ selectedTask.subtasks.length }})
    </h2>

    <div
      class="w-full flex flex-col justify-start items-start gap-2 hover:shadow-lg"
    >
      <div
        class="w-full flex items-center gap-4 p-4 bg-lightGray dark:bg-black-2 bg-grey-2 rounded-md"
        *ngFor="let subtask of selectedTask.subtasks"
      >
        <input
          type="checkbox"
          [checked]="subtask.isCompleted"
          id="{{ subtask.title }}"
          name="{{ subtask.title }}"
          class="form-checkbox w-4 h-4 bg-purple-1"
        />
        <label
          for="subtask1"
          class="text-grey-1"
          [ngClass]="{ 'line-through': subtask.isCompleted }"
          >{{ subtask.title }}</label
        >
      </div>
    </div>
  </div>

  <!-- Select field wrapped in a form group -->
  <div class="mt-6 flex flex-col gap-3 group">
    <label
      for="board-name"
      class="font-semibold text-sm text-grey-1 dark:text-white"
      >Current Status</label
    >
    <select
      type="text"
      id="board-name"
      formControlName="name"
      placeholder="e.g. Take coffee break"
      class="w-full px-4 p-3 rounded-lg border dark:bg-black-2 border-grey-1 font-medium text-black-1 dark:text-white"
    >
      <option>Task 00</option>
      <option>Task 01</option>
      <option>Task 02</option>
      <option>Task 03</option>
    </select>
  </div>
</div>
