<div
  class="h-screen mt-16 w-screen flex justify-start items-start gap-4 md:gap-6 overflow-y-scroll bg-grey-3 dark:bg-black-2 custom-scroll transition-all duration-300"
  [ngClass]="{
    'sm:pl-60': isSidebarOpen,
    'pl-0': !isSidebarOpen
  }"
>
  <div
    class="flex w-full h-full overflow-x-scroll custom-scroll"
    *ngIf="selectedBoard$ | async as selectedBoard"
    (click)="addNewColumn()"
  >
    <div
      class="flex flex-col justify-center items-center w-full"
      *ngIf="!boards.length"
    >
      <p class="text-center text-grey-1">
        This board is empty. Create a new column to get started.
      </p>
      <app-button
        icon="/assets/icon-add-task-mobile.svg"
        text="Add New Column"
        customStyle="bg-purple-1 hover:bg-purple-1 transilation-all duration-300 rounded-full text-white py-3 px-5 mt-5"
      />
    </div>
    <div
      *ngIf="selectedBoard$ | async as selectedBoard"
      class="flex gap-6 p-8 h-full"
    >
      <div class="" *ngFor="let column of selectedBoard.columns">
        <app-column [column]="column"></app-column>
      </div>
      <div
        class="w-[250px] lg:w-[270px] flex flex-col justify-center items-center gap-5 duration-100 bg-grey-2 dark:bg-black-3 rounded-lg mt-14"
        [ngClass]="{
          'hidden': !boards.length,
        }"
      >
        <app-button
          text="+ Add New Column"
          customStyle=" text-purple-1 transilation-all duration-300 text-white py-3 px-5 mt-5"
          customTextStyle="text-grey-1 text-lg"
        />
      </div>
    </div>
  </div>
</div>

<app-popup-wrapper></app-popup-wrapper>
