<aside
  class="fixed top-0 left-0 h-screen w-60 bg-white z-10 border-r-2 border-r-grey-2"
>
  <div class="h-20 flex justify-center items-center">
    <img src="/assets/logo-dark.svg" alt="Logo" />
  </div>
  <h1 class="text-grey-1 mt-5 pl-8">ALL BOARDS (3)</h1>
  <div class="grid grid-cols-1 gap-1 mt-5">
    <app-button
      icon="/assets/icon-board-white.svg"
      text="Platform Launch"
      customStyle=" py-3 px-5 rounded-r-full text-white bg-purple-1"
    />
    <app-button
      icon="/assets/icon-board.svg"
      text="Marketing Plan"
      customStyle=" py-3 px-5 text-grey-1"
    />
    <app-button
      icon="/assets/icon-board.svg"
      text="Roadmap"
      customStyle=" py-3 px-5 text-grey-1"
    />
    <app-button
      icon="/assets/icon-board.svg"
      text="+ Create New Board"
      customStyle=" py-3 px-5 text-purple-1 text-lg"
    />
  </div>
</aside>
